.container{
    background-color: #000000;
    border-radius: 1em;
    padding: 1em;
}

.display{
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3.5em;
}

button{
    width: 3em;
    height: 3em;
    border-radius: 2em;
    border: none;
    margin: 1.5em;
}

button:hover{
    cursor: pointer;
}

.operator{
    background-color: #FF9F06;
    color: #ffffff
}

.number{
    background-color: #333333;
    color: #ffffff
}

.function{
    background-color: #A5A5A5;
    color: #000000
}
